<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11117611081-c4ubusln48ed44n8d1rknc308ddfpqdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11117611081-c4ubusln48ed44n8d1rknc308ddfpqdf</string>
	<key>API_KEY</key>
	<string>AIzaSyBvK9bH3oWHpJmCKrIuJ0163jXPWp--JMA</string>
	<key>GCM_SENDER_ID</key>
	<string>496555012887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.pppix.app</string>
	<key>PROJECT_ID</key>
	<string>pppix-bf8ff</string>
	<key>STORAGE_BUCKET</key>
	<string>pppix-bf8ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:496555012887:ios:c85e1ce4122cedab54bd52</string>
</dict>
</plist>
